.main {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.nav-label {
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 8px;
  text-decoration: none;
}

.nav-spacer {
  background-color: white;
  padding: 12px 0.5px;
  margin: 8px;
}

.nav-link {
  color: white;
  padding: 8px;
  text-decoration: none;
}

.nav-link:visited {
  color: white;
}

.nav-link:hover {
  background-color: dimgrey;
}

.nav-link:active {
  background-color: dimgrey;
}

.active-nav-link {
  background-color: dimgrey;
}
